.top-bar {
    height: 90px;
    background-color: $background-dark;

    .ui.grid {
        margin: 0;
        padding: 0;

        .column {
            padding: 0;
        }
    }

    &__left {
        display: flex !important;
        align-items: center;

        img {
            height: 100px;
            transition: all 0.5s;

            &:hover {
                transform: translateX(15px);
            }
        }
    }

    &__right {
        display: flex !important;
        align-items: center;
        justify-content: flex-end;

        .ui.input {
            align-items: center;

            input {
                background-color: transparent !important;
                border: 0;
                border-bottom: 2px solid $primary  !important;
                color: #d3c2e5;
                border-radius: 0;
                width: 230px;
                padding: 5px 0;
                font-size: 20px;
                transition: width 0.7s;

                &:focus {
                    width: 300px;
                }
            }

            i {
                color: #cfa1ff !important;
            }

        }

    }
}